{% load i18n staticfiles common_templatetags %}
   <!-- forget password -->
   <div class="modal forget fade" role="dialog" id="ForgetPasswordPage" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="login_container">
                    <div class="row forget-row">
                        <div class="col-sm-12 col-md-5 col-lg-5 login_page_image d-flex">
                               <div class="login_image">
                               </div>
                        </div>
                        <div class="col-sm-12 col-md-7 col-lg-7 login_page_right d-flex">
                            <form id="forgt_pswd_form" action="{% url 'user_profile:password_forgot' %}" method="POST" class="loginVisitor_form_container forget_container">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="login_header text-center">
                                            <h2>{% trans 'Forgot Password' %}</h2>
                                        </div>
                                    </div>
                                    <div id="error_message" class="alert alert-danger" role="alert" style="display: none;"></div>
                                    <div class="col-sm-12 col-md-12">
                                        {% if fpform.errors %}
                                            <div class="alert alert-danger remove_dngr" role="alert">{{ fpform.non_field_errors.as_text }}</div>
                                        {% endif %}
                                        <div class="form-group">
                                            <label for="email">{% trans 'Email' %}</label>
                                            <input type="text" name="email" class="email form-control" placeholder="Email" style="text-transform:none;" maxlength="254" required="" id="id_email">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12">
                                        <button id="reset_password_id" type="button" class="login">{% trans 'Reset Password' %}</button>
                                    </div>
                                    <div class="col-sm-12 col-md-12">
                                        <a data-toggle="modal" data-target="#loginVisitorPage" data-dismiss="modal" class="forget_pwd">{% trans 'Back to Login' %}</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- forget password forget -->