{% extends 'base.html' %}
{% load i18n staticfiles common_templatetags %}

{% block content %}
    <!-- rgistration success popup starts-->
     <div class="modal fade registration_steps_page regis_success_page" role="dialog" id="rgistrationSuccess">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="login_container registration_container">
                        <img src="{% static 'images/Check_Mark.svg' %}" alt="check images">
                        <h2>{% trans 'Thank You!' %}</h2>
                        <p id="success_message">{% trans 'Your passowrd has been changed successfully.' %}</p>
                        <button type="button" onclick="window.location.href='/'" id="ok_id" class="ok">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rgistration success popup ends -->
        
{% endblock %}


{% block custom-js %}
/***********Success Page popup starts here ********/
    $('#rgistrationSuccess').modal('show');

/***********Success Page popup Ends here ********/

{% endblock %}