{% load i18n staticfiles cms_tags cms_static sekizai_tags %}
<!-- case reports section -->
<div class="case_reports_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="case_report_block">
                    <div class="case_report_heading">
                        <h2>Case report of the month</h1>
                    </div>
                    <div class="casse_report_content">
                        <div class="case_report_content_heading">
                            <p>Hemoperitoneum due to bleeding from a vein overlying a subserous
                                uterine myoma</p>
                            <span class="date">Case Report | 20 May 2020</span>
                        </div>
                        <div class="case_report_content_para">
                            <p>India has atleast 284,471 registered homoeopathic medical
                                practitioners, practicing in government or private clinical/research settings.
                                Due to the unique tenets of Homoeopathy based on individualisation and the lack
                                of standardised and well structured case recording.</p>
                            <p> In Homoeopathy individual cases contribute to the evidence pyramid
                                by giving an insight into the... prescription patterns of Indian homoeopathic
                                doctors. A wealth of information is lost due to the absence of a Clinical Cases
                                Registry in Homoeopathy which is being  developed  as a national / global
                                database of clinical case.</p>
                            <div class="button">
                                <a href="#" class="download_pdf">Download PDF</a>
                                <a href="#" class="see_details_btn">See Detail</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="case_report_block" id="caseReportBlock">
                    <div class="case_report_heading d-flex">
                        <h2>Recent Case Report</h1>
                            <a href="javaScript:void(0);" class="view_all">View All</a>
                    </div>
                    <div class="casse_report_content">
                        <ul class="list-unstyled case_report_list" id="caseReportList">
                            <li>
                                <div class="case_report_content_para">
                                    <p>Hemoperitoneum due to bleeding from a vein overlying a
                                        subserous uterine myoma: a case report</p>
                                    <span class="date">Case Report | 20 May 2020</span>
                                </div>
                            </li>
                            <li>
                                <div class="case_report_content_para">
                                    <p>Hemoperitoneum due to bleeding from a vein overlying a
                                        subserous uterine myoma: a case report</p>
                                    <span class="date">Case Report | 20 May 2020</span>
                                </div>
                            </li>
                            <li>
                                <div class="case_report_content_para">
                                    <p>Hemoperitoneum due to bleeding from a vein overlying a
                                        subserous uterine myoma: a case report</p>
                                    <span class="date">Case Report | 20 May 2020</span>
                                </div>
                            </li>
                            <li>
                                <div class="case_report_content_para">
                                    <p>Hemoperitoneum due to bleeding from a vein overlying a
                                        subserous uterine myoma: a case report</p>
                                    <span class="date">Case Report | 20 May 2020</span>
                                </div>
                            </li>
                            <li>
                                <div class="case_report_content_para">
                                    <p>Hemoperitoneum due to bleeding from a vein overlying a
                                        subserous uterine myoma: a case report</p>
                                    <span class="date">Case Report | 20 May 2020</span>
                                </div>
                            </li>
                            <li>
                                <div class="case_report_content_para">
                                    <p>Hemoperitoneum due to bleeding from a vein overlying a
                                        subserous uterine myoma: a case report</p>
                                    <span class="date">Case Report | 20 May 2020</span>
                                </div>
                            </li>
                            <li>
                                <div class="case_report_content_para">
                                    <p>Hemoperitoneum due to bleeding from a vein overlying a
                                        subserous uterine myoma: a case report</p>
                                    <span class="date">Case Report | 20 May 2020</span>
                                </div>
                            </li>
                            <li>
                                <div class="case_report_content_para">
                                    <p>Hemoperitoneum due to bleeding from a vein overlying a
                                        subserous uterine myoma: a case report</p>
                                    <span class="date">Case Report | 20 May 2020</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="case_report_block" id="caseReportBlock">
                    <div class="case_report_heading d-flex">
                        <h2>Most accessed</h1>
                            <a href="javaScript:void(0);" class="view_all">View All</a>
                    </div>
                    <div class="casse_report_content">
                        <ul class="list-unstyled case_report_list" id="caseReportList">
                            <li>
                                <div class="case_report_content_para">
                                    <p>Hemoperitoneum due to bleeding from a vein overlying a
                                        subserous uterine myoma: a case report</p>
                                    <span class="date">Case Report | 20 May 2020</span>
                                </div>
                            </li>
                            <li>
                                <div class="case_report_content_para">
                                    <p>Hemoperitoneum due to bleeding from a vein overlying a
                                        subserous uterine myoma: a case report</p>
                                    <span class="date">Case Report | 20 May 2020</span>
                                </div>
                            </li>
                            <li>
                                <div class="case_report_content_para">
                                    <p>Hemoperitoneum due to bleeding from a vein overlying a
                                        subserous uterine myoma: a case report</p>
                                    <span class="date">Case Report | 20 May 2020</span>
                                </div>
                            </li>
                            <li>
                                <div class="case_report_content_para">
                                    <p>Hemoperitoneum due to bleeding from a vein overlying a
                                        subserous uterine myoma: a case report</p>
                                    <span class="date">Case Report | 20 May 2020</span>
                                </div>
                            </li>
                            <li>
                                <div class="case_report_content_para">
                                    <p>Hemoperitoneum due to bleeding from a vein overlying a
                                        subserous uterine myoma: a case report</p>
                                    <span class="date">Case Report | 20 May 2020</span>
                                </div>
                            </li>
                            <li>
                                <div class="case_report_content_para">
                                    <p>Hemoperitoneum due to bleeding from a vein overlying a
                                        subserous uterine myoma: a case report</p>
                                    <span class="date">Case Report | 20 May 2020</span>
                                </div>
                            </li>
                            <li>
                                <div class="case_report_content_para">
                                    <p>Hemoperitoneum due to bleeding from a vein overlying a
                                        subserous uterine myoma: a case report</p>
                                    <span class="date">Case Report | 20 May 2020</span>
                                </div>
                            </li>
                            <li>
                                <div class="case_report_content_para">
                                    <p>Hemoperitoneum due to bleeding from a vein overlying a
                                        subserous uterine myoma: a case report</p>
                                    <span class="date">Case Report | 20 May 2020</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- case reports section - ends -->