{% load i18n staticfiles cms_tags cms_static sekizai_tags %}
<!-- case registered section -->
<div class="case_registered_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3 case_registered_block">
                <div class="registered_left_blk">
                    <img src={% static "images/case_registered_chart.svg" %} alt="chart_image" class="img-fluid">
                </div>
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9 case_reg_right_block">
                <div class="registered_right_blk">
                    <ul class="owl-carousel  case_registered_list" id="caseRegistered">
                        <li>
                            <div class="registered_cases">
                                <span class="registered_no">160</span>
                                <span class="cases">Practitioners</span>
                            </div>
                        </li>
                        <li>
                            <div class="registered_cases">
                                <span class="registered_no">34</span>
                                <span class="cases">Researchers</span>
                            </div>
                        </li>
                        <li>
                            <div class="registered_cases">
                                <span class="registered_no">97</span>
                                <span class="cases">Faculty</span>
                            </div>
                        </li>
                        <li>
                            <div class="registered_cases">
                                <span class="registered_no">101</span>
                                <span class="cases">post graduate scholars</span>
                            </div>
                        </li>
                        <li>
                            <div class="registered_cases">
                                <span class="registered_no">24</span>
                                <span class="cases">GENETIC DISORDERS</span>
                            </div>
                        </li>
                        <li>
                            <div class="registered_cases">
                                <span class="registered_no">160</span>
                                <span class="cases">DERMATOLOGY</span>
                            </div>
                        </li>
                        <li>
                            <div class="registered_cases">
                                <span class="registered_no">34</span>
                                <span class="cases">NEUROLOGY</span>
                            </div>
                        </li>
                        <li>
                            <div class="registered_cases">
                                <span class="registered_no">97</span>
                                <span class="cases">RESPIRATORY MEDICINE</span>
                            </div>
                        </li>
                        <li>
                            <div class="registered_cases">
                                <span class="registered_no">101</span>
                                <span class="cases">PAEDIATRICS</span>
                            </div>
                        </li>
                        <li>
                            <div class="registered_cases">
                                <span class="registered_no">24</span>
                                <span class="cases">GENETIC DISORDERS</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- case registered section - ends -->